<template>
  <v-container fluid fill-height>
    <v-row
      align="center"
      justify="center">
      <v-col
        cols="12"
        sm="8"
        md="4">
        <TheLogin/>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import TheLogin from '@/components/TheLogin.vue';

export default {
  name: 'Login',
  components: {
    TheLogin,
  },
};
</script>
