<template>
  <v-container fluid fill-height>
    <v-row
      align="center"
      justify="center">
      <v-col
        cols="12"
        sm="8"
        md="4">
        <TheSignup/>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import TheSignup from '@/components/TheSignup.vue';

export default {
  name: 'Signup',
  components: {
    TheSignup,
  },
};
</script>
