<template>
  <v-container fluid>
    <v-row
      align="start"
      justify="center">
      <v-col
        cols="12"
        sm="8"
        md="6">
        <TaskList
          :search.sync="searchTerm"
          @toggle-dialog="onTaskAdd"
        >
          <TaskListItem
            v-for="(task, index) in filteredTasks"
            :key="`task-list-item-${index}`"
            :task="task"
            @delete-task="onTaskDelete"
            @edit-task="onTaskEdit"
            @toggle-task-status="onTaskStatusToggle"
          />
          <div
            class="empty"
            slot="empty"
          >
            <span v-if="!this.tasks.length">
              <v-alert
                outlined
                type="success"
              >
                Time to create some new tasks...
              </v-alert>
            </span>
            <span v-if="this.tasks.length && !this.filteredTasks.length">
              <v-alert
                outlined
                type="info"
              >
                Search returned no results
              </v-alert>
            </span>
          </div>
        </TaskList>
      </v-col>
    </v-row>
    <TaskEditor
      :data="taskToEdit"
      :visible.sync="isModalOpen"
      @refresh-tasks="populateTasks()"
    />
  </v-container>
</template>

<script>
import TaskEditor from '@/components/TaskEditor.vue';
import TaskList from '@/components/TaskList/index.vue';
import TaskListItem from '@/components/TaskList/TaskListItem.vue';

export default {
  name: 'Tasks',
  components: {
    TaskEditor,
    TaskList,
    TaskListItem,
  },
  data() {
    return {
      isModalOpen: false,
      isDialogOpen: false,
      isLoading: false,
      searchTerm: null,
      tasks: [],
      taskToEdit: {},
    };
  },
  computed: {
    filteredTasks() {
      if (!this.searchTerm) {
        return [...this.tasks]
          .sort((a, b) => {
            if (a.dueDate < b.dueDate) { return -1; }
            if (a.dueDate > b.dueDate) { return 1; }
            return 0;
          });
      }

      return this.tasks.filter((task) => `${task.title}`.match(this.searchTerm) || `${task.note}`.match(this.searchTerm));
    },
  },
  async created() {
    this.populateTasks();
  },
  methods: {
    onTaskAdd(modalVisibility) {
      this.taskToEdit = {
        priority: this.tasks.length + 1,
        priorityRange: this.tasks.length + 1,
      };
      this.isModalOpen = modalVisibility;
    },
    onTaskDelete(task) {
      this.$http.delete(`/api/tasks/${task.id}`).then(() => {
        this.updateTask(task.id, null);
      });
    },
    onTaskStatusToggle(task) {
      const payload = { ...task, isComplete: !task.isComplete };
      this.$http.put('/api/tasks', payload).then(() => {
        this.updateTask(task.id, payload);
      });
    },
    onTaskEdit(task) {
      this.taskToEdit = { ...task, priorityRange: this.tasks.length };
      this.isModalOpen = true;
    },
    async populateTasks() {
      this.isLoading = true;
      const { data } = await this.$http.get('/api/tasks');
      this.tasks = data;
      this.isLoading = false;
    },
    updateTask(id, data) {
      const index = this.tasks.findIndex((dataRow) => id === dataRow.id);
      if (!data) {
        this.tasks.splice(index, 1);
      } else {
        this.$set(this.tasks, index, data);
      }
    },
  },
};
</script>

<style scoped>
.empty {
  padding: 2em;
}
</style>
