<template>
  <v-row
    align="start"
    justify="center">
    <v-dialog v-model="isEditorOpen" max-width="60%">
      <v-card>
        <v-card-title>
          <span class="headline">Task</span>
        </v-card-title>
        <v-card-text>
          <v-alert
            :value="!!errorMessage"
            color="error"
            icon="warning"
          >
            {{ errorMessage }}
          </v-alert>
          <v-form
            v-model="isValidForm">
            <v-row>
              <v-col class="pb-0">
                <v-text-field
                  v-model="taskData.title"
                  :rules="[rules.required]"
                  id="inputTitle"
                  label="Title"
                  name="title"
                  outlined
                  type="text"
                />
              </v-col>
            </v-row>
            <v-row>
              <v-col class="pb-0">
                <v-textarea
                  v-model="taskData.note"
                  id="inputNote"
                  outlined
                  rows="3"
                  label="Note"
                  placeholder="Write a short note here."
                ></v-textarea>
              </v-col>
            </v-row>
            <v-row>
              <v-col class="pb-0">
                <v-text-field
                  v-model="taskData.dueDate"
                  :rules="[rules.required]"
                  id="inputDueDate"
                  label="Due Date"
                  name="dueDate"
                  outlined
                  type="date"
                />
              </v-col>

              <v-col class="pb-0">
                <v-select
                  v-model="taskData.priority"
                  :items="priorities"
                  id="inputPriority"
                  label="Priority"
                  outlined
                ></v-select>
              </v-col>

              <v-col class="pb-0">
                <v-checkbox
                  v-model="taskData.isComplete"
                  id="inputComplete"
                  label="Complete"
                ></v-checkbox>
              </v-col>
            </v-row>
            <v-row>
              <v-btn
                dark
                color="grey lighten-1"
                @click="() => isEditorOpen = false"
              >
                Close
              </v-btn>
              <v-spacer></v-spacer>
              <v-btn
                dark
                class="pl-5 pr-5 mr-2"
                color="primary"
                @click="onSubmit">
                Save
              </v-btn>
            </v-row>
          </v-form>
        </v-card-text>
      </v-card>
    </v-dialog>
  </v-row>
</template>

<script>
import messageHandler from '@/utils/messageHandler';

export default {
  name: 'TaskEditor',
  props: {
    visible: {
      type: Boolean,
      default: false,
    },
    data: {
      type: Object,
      default() { return {}; },
    },
  },
  data() {
    return {
      error: null,
      isTaskComplete: this.isComplete,
      isValidForm: false,
      rules: {
        required: (value) => !!value || 'Required',
      },
      taskData: { ...this.data },
    };
  },
  computed: {
    errorMessage() {
      return messageHandler.mapHttpError(this.error)
        || messageHandler.formValidationError(this.error);
    },
    isEditorOpen: {
      get() {
        return this.visible;
      },
      set(val) {
        this.$emit('update:visible', val);
      },
    },
    priorities() {
      return Array.from({ length: this.taskData.priorityRange }, (_, i) => i + 1);
    },
  },
  watch: {
    data(newVal) {
      this.taskData = { ...newVal };
    },
    taskData(newVal) {
      this.$emit('update:data', { ...newVal });
    },
  },
  methods: {
    onSubmit() {
      if (!this.isValidForm) {
        this.error = 'no_valid_data';
        return false;
      }

      const payload = { ...this.taskData };
      const apiMethod = this.taskData.id ? this.$http.put : this.$http.post;

      return apiMethod('/api/tasks', payload).then(() => {
        this.error = null;
        this.$emit('refresh-tasks');
        this.isEditorOpen = false;
      }).catch(({ response }) => {
        if (!response) {
          this.error = undefined;
        } else if (response.status) {
          this.error = response.status;
        }
      });
    },
  },
};
</script>
