<template>
  <v-card class="elevation-12">
    <v-toolbar dark color="blue">
      <v-toolbar-title>
        Todo App - Login
      </v-toolbar-title>
    </v-toolbar>
    <v-card-text>
      <v-alert
        :value="!!errorMessage"
        color="error"
        icon="warning"
      >
        {{ errorMessage }}
      </v-alert>
      <v-form
        v-model="isValidForm"
        ref="formLogin"
        @submit.prevent="onSubmit"
      >
        <v-text-field
          v-model="email"
          :rules="[rules.required, rules.email]"
          label="Email"
          name="email"
          prepend-icon="email"
          type="text"
        />
        <v-text-field
          v-model="password"
          :rules="[rules.required]"
          label="Password"
          name="password"
          prepend-icon="lock"
          type="password"
        ></v-text-field>
      </v-form>
    </v-card-text>
    <v-divider light></v-divider>
    <v-card-actions>
      <v-btn
        color="indigo"
        dark
        x-small
        @click="goToSignup"
      >
        Sign up
        <v-icon>keyboard_arrow_right</v-icon>
      </v-btn>
      <v-spacer></v-spacer>
      <v-btn
        class="pl-3 pr-3 mr-2"
        color="primary"
        dark
        @click="onSubmit"
      >
        Login
      </v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
import messageHandler from '@/utils/messageHandler';

export default {
  name: 'TheLogin',
  data() {
    return {
      isValidForm: false,
      email: null,
      error: null,
      password: null,
      rules: {
        required: (value) => !!value || 'Required',
        email: (value) => {
          const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
          return pattern.test(String(value).toLowerCase()) || 'Invalid Email';
        },
      },
    };
  },
  computed: {
    errorMessage() {
      return messageHandler.mapHttpError(this.error)
        || messageHandler.formValidationError(this.error);
    },
  },
  methods: {
    goToSignup() {
      this.$router.push('/signup');
    },
    onSubmit() {
      if (!this.isValidForm) {
        this.error = 'no_valid_data';
        return;
      }

      const { email, password } = this;

      this.$http.post('/api/signin', { email, password }).then(() => {
        this.error = null;
        this.$router.push('/');
      }).catch(({ response }) => {
        if (!response) {
          this.error = undefined;
        } else if (response.status) {
          this.error = response.status;
        }
      });
    },
  },
};
</script>
