<template>
  <v-card class="elevation-12">
    <v-toolbar dark color="blue">
      <v-toolbar-title>
        Signup form
      </v-toolbar-title>
    </v-toolbar>
    <v-card-text>
      <v-alert
        :value="!!errorMessage"
        color="error"
        icon="warning"
      >
        {{ errorMessage }}
      </v-alert>
      <v-form
        v-model="isValidForm"
        ref="formSignup"
        @submit.prevent="onSubmit"
      >
        <v-text-field
          v-model="username"
          :rules="[rules.required]"
          label="Username"
          name="username"
          prepend-icon="person"
          type="text"
        />
        <v-text-field
          v-model="email"
          :rules="[rules.required, rules.email]"
          label="Email"
          name="email"
          prepend-icon="email"
          type="text"
        />
        <v-text-field
          v-model="password"
          :rules="[rules.required, rules.password]"
          label="Password"
          name="password"
          prepend-icon="lock"
          type="password"
        />
        <v-text-field
          v-model="passwordConfirmation"
          :error="!validatePassword()"
          :rules="[rules.required, rules.password]"
          label="Confirm Password"
          name="password"
          prepend-icon="lock"
          type="password"
        />
      </v-form>
    </v-card-text>
    <v-divider light></v-divider>
    <v-card-actions>
      <v-btn
        dark
        color="indigo"
        x-small
        @click="goToLogin"
      >
        Sign in
        <v-icon>keyboard_arrow_right</v-icon>
      </v-btn>
      <v-spacer></v-spacer>
      <v-btn
        dark
        class="pl-3 pr-3 mr-2"
        color="primary"
        @click="onSubmit"
      >
        Register
      </v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
import messageHandler from '@/utils/messageHandler';

export default {
  name: 'TheSignup',

  data: () => ({
    email: null,
    error: null,
    isValidForm: false,
    password: null,
    passwordConfirmation: null,
    rules: {
      required: (value) => !!value || 'Required',
      email: (value) => {
        const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        return pattern.test(String(value).toLowerCase()) || 'Invalid Email';
      },
      password: (value) => !!value,
    },
    username: null,
  }),
  computed: {
    errorMessage() {
      return messageHandler.mapHttpError(this.error)
        || messageHandler.formValidationError(this.error);
    },
  },
  methods: {
    goToLogin() {
      this.$router.push('/login');
    },
    onSubmit() {
      if (!this.isValidForm) {
        console.log('nope');
        this.error = 'no_valid_data';
        return;
      }

      const { username, email, password } = this;
      const payload = {
        email,
        password,
        username,
      };

      this.$http.post('/api/signup', payload).then(() => {
        this.error = null;
        this.$router.push('/');
      }).catch(({ response }) => {
        if (!response) {
          this.error = undefined;
        } else if (response.status) {
          this.error = response.status;
        }
      });
    },
    validatePassword() {
      return this.password === this.passwordConfirmation;
    },
  },
};
</script>
