<template>
  <v-container fluid fill-height>
    <v-row
      align="center"
      justify="center">
      <v-col
        cols="2"
        sm="1"
        md="1">
        <v-img
          :src="require('@/assets/logo.svg')"
          class="my-3"
          contain
          width="100%"
        />
      </v-col>
      <v-col
        cols="10"
        sm="6"
        md="5">
        <h1 class="display-2 font-weight-bold mb-3">
          Page Not Found
        </h1>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  name: 'HttpError404',
};
</script>
