<template>
  <v-card>
    <v-toolbar color="blue" dark>
      <v-toolbar-title>My To-Do List</v-toolbar-title>
      <v-spacer></v-spacer>
      <v-btn
        icon
        @click="$emit('toggle-dialog', true)"
      >
        <v-icon>add_task</v-icon>
      </v-btn>
    </v-toolbar>
    <v-toolbar
      color="blue"
      dark>
      <v-spacer></v-spacer>
      <v-toolbar-title>
        <v-text-field
          v-model="searchTerm"
          class="search mr-4 pt-4"
          id="search"
          label="Search"
          name="search"
          type="text"
          @input="(val) => $emit('update:search', val)"
        />
      </v-toolbar-title>
      <v-icon>search</v-icon>
    </v-toolbar>

    <v-list>
      <slot />
    </v-list>

    <slot
      v-if="!$slots.default"
      name="empty"
    >
      <div class="no-results">
        Time to create a task...
      </div>
    </slot>
  </v-card>
</template>

<script>
export default {
  name: 'TaskList',
  props: {
    search: {
      type: String,
      default: null,
    },
  },
  data() {
    return {
      searchTerm: null,
    };
  },
};
</script>

<style>
.v-text-field .v-label[for='search'],
.v-label {
  top: 12px;
}
</style>

<style scoped>
.no-results {
  font-size: 2em;
  height: 100%;
  padding: 2em;
  text-align: center;
  width: 100%;
}
</style>
