<template>
  <v-list-item
    :class="task.isComplete === true ? 'complete' : ''"
  >
    <v-list-item-action-text class="pr-4">
      <v-btn
        icon
        @click="() => $emit('toggle-task-status', task)"
      >
        <v-icon color="green" v-if="task.isComplete">check_circle</v-icon>
        <v-icon color="grey" v-else>check_circle</v-icon>
      </v-btn>
    </v-list-item-action-text>

    <v-list-item-content @click="() => $emit('toggle-task-status', task)">
      <v-list-item-subtitle v-if="task.dueDate">
        <span class="text-caption">{{ formatDate(task.dueDate) }}</span>
      </v-list-item-subtitle>
      <v-list-item-title>{{ task.title }}</v-list-item-title>
      <v-list-item-subtitle>{{ task.note }}</v-list-item-subtitle>
    </v-list-item-content>

    <v-list-item-action>
      <v-btn
        icon
        @click="() => $emit('edit-task', task)"
      >
        <v-icon color="indigo lighten-3">edit</v-icon>
      </v-btn>
    </v-list-item-action>
    <v-list-item-action>
      <v-dialog
        v-model="isdeleteTaskDialogOpen"
        max-width="290"
        persistent
      >
        <template v-slot:activator="{ on, attrs }">
          <v-btn
            v-bind="attrs"
            v-on="on"
            icon
          >
            <v-icon color="brown lighten-2">delete</v-icon>
          </v-btn>
        </template>
        <v-card>
          <v-card-title class="title">Are you sure you want to delete this task?</v-card-title>
          <v-card-actions>
            <v-btn
              class="pl-3 pr-3 mr-2"
              color="primary"
              dark
              @click="isdeleteTaskDialogOpen = false"
            >
              No
            </v-btn>
            <v-spacer></v-spacer>
            <v-btn
              class="pl-3 pr-3 mr-2"
              color="primary"
              dark
              @click="deleteTask(task)"
            >
              Yes
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-list-item-action>
  </v-list-item>
</template>

<script>
export default {
  name: 'TaskListItem',
  props: {
    task: {
      type: Object,
      default: null,
    },
  },
  data() {
    return {
      isdeleteTaskDialogOpen: false,
    };
  },
  methods: {
    deleteTask(task) {
      this.$emit('delete-task', task);
      this.isdeleteTaskDialogOpen = false;
    },
    formatDate(rawDate) {
      if (rawDate && typeof rawDate === 'string') {
        const objDate = new Date(rawDate);
        const day = `0${objDate.getDate()}`.slice(-2);
        const month = `0${objDate.getMonth() + 1}`.slice(-2);
        return `${day}.${month}.${objDate.getFullYear()}`;
      }

      return '';
    },
  },
};
</script>

<style lang="scss" scoped>
.v-list-item__content {
  cursor: pointer;
}

.v-list-item.complete {
  .v-list-item__title,
  .v-list-item__subtitle {
    text-decoration: line-through;
  }
}
</style>
